{% extends "base.html" %}
{% block content %}
<div id="custom-select">
    <h3>Step 2: Add custom variables to dataset</h3>
    <p>Select worksheet, column, and line number to add variable to dataset</p>
    <div class="form-container">
        <form action="" method="post"   >
            {{fields_form.hidden_tag()}}
            <fieldset>
                <div class='var-field'>
                    {{fields_form.var_name.label(class="form-label")}}
                    {{fields_form.var_name(class="form-content")}}
                </div>
                <div class='form-field'>
                    {{fields_form.worksheet.label(class="form-label")}}
                    {{fields_form.worksheet(class="form-content")}}
                </div>
                <div class='form-field'>
                    {{fields_form.line_number.label(class="form-label")}}
                    {{fields_form.line_number(class="form-content")}}
                </div>
                <div class='form-field'>
                    {{fields_form.column_number.label(class="form-label")}}
                    {{fields_form.column_number(class="form-content")}}
                </div>
                <div>
                    {{fields_form.submit(class="form-content")}}
                </div>
            </fieldset>
        </form>
    </div>
    <div class='var-container'>
        <p class="var-field">Data Cart:</p>
        {% for var in all_fields %}
        <p class='var-field'>
            [Variable: {{var.var_name}}],[Worksheet: '{{var.wksht_cd}}'],[Line Number: '{{var.line_num}}'],[Column Number: '{{var.clmn_num}}']
        </p>
        {% endfor %}
    </div>
    <form action="" method="post" class="end-form">
        {{clear_form.hidden_tag()}}
        <div class="form-field">
            {{clear_form.clear(class="form-content")}}
        </div>
    </form>
    <form action="" method="post" class="end-form">
        {{create_form.hidden_tag()}}
        <div class = form-field>
            {{create_form.create(class="form-content")}}
        </div>
    </form>
</div>
{% endblock %}