{% extends "base.html" %}
{% block content %}
<div class="container bg-body-secondary border border-dark">
    <h3>Add Custom Variables</h3>
    <p>Add variable name and select worksheet, column, and line to add custom variable</p>
    <form action="" method="post"   >
        {{fields_form.hidden_tag()}}
        <fieldset>
            <div class='var-field'>
                {{fields_form.var_name.label(class="form-label")}}
                {{fields_form.var_name(class="var-content")}}
            </div>
            <div class='form-field'>
                {{fields_form.worksheet.label(class="form-label")}}
                {{fields_form.worksheet(class="form-content")}}
            </div>
            <div class='form-field'>
                {{fields_form.line_number.label(class="form-label")}}
                {{fields_form.line_number(class="form-content")}}
            </div>
            <div class='form-field'>
                {{fields_form.column_number.label(class="form-label")}}
                {{fields_form.column_number(class="form-content")}}
            </div>
            <div>
                {{fields_form.submit(class="btn btn-secondary")}}
            </div>
        </fieldset>
    </form>
</div>
<div class="container bg-body-secondary border border-dark">
    <table class="table table-hover">
        <h3>Data Cart</h3>
        <thead>
        <tr>
            <th scope="col">Variable Name</th>
            <th scope="col">Worksheet</th>
            <th scope="col">Line</th>
            <th scope="col">Column</th>
        </tr>
        </thead>
        <tbody>
            {% for var in all_fields %}
                <tr>
                    <td>{{var.var_name}}</td>
                    <td>{{var.wksht_cd}}</td>
                    <td>{{var.line_num}}</td>
                    <td>{{var.clmn_num}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <form action="" method="post" class="end-form">
        {{clear_form.hidden_tag()}}
        <div class="form-field">
            {{clear_form.clear(class="btn btn-secondary")}}
        </div>
    </form>
</div>
<div class="container border border-dark bg-body-secondary" id="nav-foot">
    <a class="btn btn-secondary" href="{{url_for('presets')}}" role="button">Back</a>
    <a class="btn btn-secondary" href="{{url_for('filter')}}" role="button">Next</a>
</div>
{% endblock %}