{% extends "base.html" %}
{% block content %}
<div class="container" id="custom-filter">
    <h3>Specify facilities to include</h3>
    <form action="" method="post">
        {{fac_filter_form.hidden_tag()}}
        <fieldset>
            <div class="row justify-content-start">
                <div class="col-4 bg-body-tertiary border preset-form">
                    {{fac_filter_form.year_field.label}}
                    {{fac_filter_form.year_field(id="fac_filter")}}
                </div>
            </div>
            <div class="preset-form">
                {{fac_filter_form.submit(class="btn btn-primary")}}
            </div>
        </fieldset>
    </form>
</div>
{% endblock %}