{% extends "base.html" %}
{% block content %}
    <h2>Access data for hospitals and health facilities from CMS Cost Reports</h2>
    <h3>General Information</h3>    
    <p>CMS cost reports contains health provider information such as facility characteristics, utilization data, 
        cost and charges by cost center (in total and for Medicare), Medicare settlement data, and financial statement data. 
    </p>
    <h3>
        <a href="/presets">Build custom cost report dataset</a>
    </h3>
{% endblock %}