{% extends "base.html" %}
{% block content %}

<div class="container p-5 mb-4 bg-body-secondary border border-dark">
    <div class="container-fluid py-5">
      <h1 class="display-5 fw-bold">Custom Cost Report Data</h1>
      <p class="col-md-8 fs-4">Create custom datasets from CMS cost reports. Cost Reports contain health provider information such as facility characteristics, utilization, and financial statement data. </p>
      <a class="btn  btn-secondary" href="/presets" role="button">Build Dataset</a>

    </div>
  </div>
{% endblock %}