{% extends "base.html" %}
{% block content %}
<div class="container">
    <h3>Select Variables</h3>
    <form action="" method="post">
        {{preset_form.hidden_tag()}}
        <fieldset>
            <div class="row justify-content-start">
                <div class="col-4 bg-body-tertiary border preset-form">
                    {{preset_form.facility_info.label()}}
                    {{preset_form.facility_info(id="fac_info")}}
                </div>
                <div class="col-4 bg-body-tertiary border preset-form">
                    {{preset_form.finance.label()}}
                    {{preset_form.finance(id="fac_info")}}
                </div>
            </div>
            <div class="row">
                <div class="col-4 align-self-start preset-form">
                    {{preset_form.submit(class="btn btn-primary")}}
                </div>
            </div>
        </fieldset>
    </form>
</div>
{% endblock %}