{% extends "base.html" %}
{% block content %}
<div id="custom-presets">
    <h3>Step 1: Add Commonly used variables to dataset</h3>
    <form action="" method="post">
        {{fac_info_form.hidden_tag()}}
        <fieldset>
            <div>
                {{fac_info_form.facility_info.label}}
                {{fac_info_form.facility_info(id="fac_info")}}
            </div>
            <div>
                {{fac_info_form.submit}}
            </div>
        </fieldset>
    </form>
</div>
{% endblock %}