{% extends "base.html" %}
{% block content %}
<div class="container">
    <h3>Select Variables</h3>
    <form action="" method="post">
        {{preset_form.hidden_tag()}}
        <fieldset>
            <div class="row justify-content-start">
                <div class="col-2 bg-body-secondary border border-dark preset-form">
                    {{preset_form.facility_info.label(class="form-label")}}
                    {{preset_form.facility_info(id="fac_info")}}
                </div>
                <div class="col-3 bg-body-secondary border border-dark preset-form">
                    {{preset_form.finance.label(class="form-label")}}
                    {{preset_form.finance(id="fac_info")}}
                </div>
                <div class="col-3 bg-body-secondary border border-dark preset-form">
                    {{preset_form.staff.label(class="form-label")}}
                    {{preset_form.staff(id="fac_info")}}
                </div>

                <div class="col bg-body-secondary border border-dark preset-form">
                    {{preset_form.utilization.label(class="form-label")}}
                    {{preset_form.utilization(id="fac_info")}}
                </div>
            </div>
            <div class="row justify-content-start">
                <div class="col-3 preset-form">
                    {{preset_form.submit(class="btn btn-secondary")}}
                </div>
            </div>
        </fieldset>
    </form>
</div>
<div class="container bg-body-secondary border border-dark">
    <table class="table table-hover table-striped border">
        <h3>Data Cart</h3>
        <thead>
        <tr>
            <th scope="col">Variable Name</th>
            <th scope="col">Worksheet</th>
            <th scope="col">Line</th>
            <th scope="col">Column</th>
            <th scope="col" style="width: 5%;">Remove</th>
        </tr>
        </thead>
        <tbody>
            {% for var in all_fields %}
                <tr>
                    <td>{{var.var_name}}</td>
                    <td>{{var.wksht_cd}}</td>
                    <td>{{var.line_num}}</td>
                    <td>{{var.clmn_num}}</td>
                    <td class="text-center" style="width: 5%;"><button class="btn btn-secondary btn-sm">X</button></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <form action="" method="post" class="end-form">
        {{clear_form.hidden_tag()}}
        <div class="form-field">
            {{clear_form.clear(class="btn btn-secondary")}}
        </div>
    </form>
</div>
<div class="container bg-body-secondary border border-dark" id="preset-foot">
    <a class="btn btn-secondary" href="{{url_for('custom')}}" role="button">Next</a>
</div>
{% endblock %}