{% extends "base.html" %}
{% block content %}
<h1>CostReportData.org</h1>
    <h2>Access CMS Cost Report Data for Hospitals and Health Facilities</h2>
    <h3>General Information</h3>    
    <p>CMS cost reports contains health provider information such as facility characteristics, utilization data, 
        cost and charges by cost center (in total and for Medicare), Medicare settlement data, and financial statement data. 
    </p>
    <h3>
        <a href="/custom">Build custom cost report dataset</a>
    </h3>
{% endblock %}