body {  
    margin: 25px 100px 25px 100px;
}

.container {
    margin-top: 10px;
    padding: 10px;
}

.form-content {
    font-size: 15px;
    width: 100px;
}

.form-label {
    font-size: 18px;
    font-weight: bold;
}

.var-field {
    margin: 5px;
    display: inline-block;
}

.var-content {
    margin: 5px;
    width: 200px;
}

.form-field {
    margin: 5px;
    display: inline-block;
}

.var-container {
    border-radius: 5px;
    border: 1px black dashed;
    margin-top: 10px;
    padding: 5px;
    background-color: white;
}

.var-field {
    margin: 5px;
    font-weight: normal;
}

.end-form {
    display: inline-block;
}

.preset-form {
    margin: 5px;
    padding: 10px;
    padding-left: 15px;
}

#preset-foot {
    display: flex;
    justify-content: flex-end;
    margin-top: 25px;
    width: 50%;

}
#nav-foot {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    width: 50%;
}
#download-foot {
    display: flex;
    justify-content: flex-start;
    margin-top: 25px;
    width: 50%;
}

#fac_info {
    list-style-type: none;
}

.fac_filter {
    list-style-type: none;
}

#state_filter {
    display: flex;
    flex-wrap: wrap;
}
#state_filter li {
    width: 75px;
}