body {  
    margin: 25px 100px 25px 100px;
}

.container {
    margin-top: 10px;
    padding: 10px;
}

.card {
    width: 25rem;
}

.form-content {
    font-size: 15px;
    width: 100px;
}

.form-label {
    font-size: 15px;
}

.var-field {
    margin: 5px;
    display: inline-block;
}

.var-content {
    margin: 5px;
    width: 200px;
}

.form-field {
    margin: 5px;
    display: inline-block;
}

.var-container {
    border-radius: 5px;
    border: 1px black dashed;
    margin-top: 10px;
    padding: 5px;
    background-color: white;
}

.var-field {
    margin: 5px;
    font-weight: normal;
}

.end-form {
    display: inline-block;
}

.preset-form {
    margin: 5px;
    padding: 10px;
    padding-left: 15px;
}

#fac_info {
    list-style-type: none;
}

#fac_filter {
    list-style-type: none;
}
